.bi{
    border: 2px solid rgb(164, 160, 160);
    border-radius: 50%;
    cursor: pointer;
}
.bi:hover{
    border: 1px solid black;
    color: #ffffff;
    background-color: rgb(96, 92, 92);
}
@media(min-width:1023px) {
    .custom-card {
       width: 28rem;
    }
}
@media(max-width:768px){
    .custom-card {
        width: 18rem;
     }
}