<section>
	<div class="container">

		  
		  <div class=" d-flex">
			<h3>{{ currentEvent.monthName }}</h3>
			<i class="bi bi-caret-left fa-2x mx-3" (click)="previousMonth()"></i>
			<i class="bi bi-caret-right fa-2x" (click)="nextMonth()"></i>
			<!-- <button type="button" class="btn btn-outline-secondary btn-sm mx-3" (click)="previousMonth()"> <span class="fs-3"><</span>  </button>
		  <button type="button" class="btn btn-outline-secondary btn-sm" (click)="nextMonth()"> <span class="fs-3"> > </span> </button> -->
		  </div>
		  <hr>
		  <div class="card border border-3 custom-card w-50 h-50" >
			<div class="card-body">
			  <!-- <p> Stay Tuned for Updates</p> -->
			  <img [src]="currentEvent.image" alt="Month Image" />
			</div>
		  </div>
		  <!-- <img [src]="currentEvent.image" alt="Month Image" /> -->
		  
	</div>
</section>