<!-- Page Header -->
<header class="container text-center my-5">
    <h1 style="color:#2AB2A6">Career Opportunities</h1>
    <p>We are always looking for talented individuals to join our team.</p>
</header>

<!-- Job Listings -->
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-4">
            <!-- <h6>Careers at edutechEx-quantum</h6> -->
            <div class="card">
                <div class="card-body">
                    <h6>Careers at edutechEx-quantum</h6>
                    <h2 class="card-title">Work with us</h2>
                    <p>Explore remote-friendly, flexible opportunities and join our mission to make work life simpler, more pleasant and more productive.</p>
                    <p class="card-text">We seek a broad range of skills--from digital to interpersonal to analytical. Make a lasting impact on companies, industries, and society.</p>
                    <!-- <a href="#" class="btn btn-primary">Apply Now</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-6 align-items-center text-center">
            <!-- Image -->
            <img src="assets/images/c4.jpg" class="h-350px " alt="">
        </div>
    </div>
</div>
