<!-- Page Header -->
<header class="container text-center my-5">
    <h1 style="color:#2AB2A6">Career Opportunities</h1>
    <p>We are always looking for talented individuals to join our team.</p>
</header>

<!-- Job Listings -->
<div class="container">
    <div class="row" *ngFor="let data of allCareerData">
        <div class="col-md-6 align-items-center text-center">
            <!-- Image -->
            <img [src]="data.image" class="h-400px career-img" alt="cimage">
        </div>
        <div class="col-md-6 mb-4">
            <!-- <h6>Careers at edutechEx-quantum</h6> -->
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{data.title}}</h2>
                    <p class="card-text" [innerHTML]="data.about"></p>
                    <!-- <a href="#" class="btn btn-primary">Apply Now</a> -->
                </div>
            </div>
        </div>

    </div>
</div>