@media (max-width:768px){
    .left-previous{
      display: none;
    }
    .right-next{
      display: none;
    }
  }
  
  @media (min-width:1024px){
    .left-previous{
      margin-right: 180px;
    }
    .right-next{
      margin-left: 200px;
    }
    .partner-mob{
      padding: -200px !important;
    }
  }