 <!-- =======================
    We Customize START -->
    <section class="mt-sm-0 program-mob">
        <div class="container">
            <!-- Title -->
            <div class="row mb-4">
                <div class="col-lg-6 mx-auto text-center">
                    <h2 class="my-4" style="color: #2AB2A6;">We Customize Your Software to The Smart Ways</h2>
                </div>
            </div>

            <div class="row g-4">
                <!-- Item -->
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="card shadow card-body text-center position-relative btn-transition p-4">
                        <!-- Image -->
                        <div class="icon-xl bg-body mx-auto rounded-circle mb-3">
                            <img src="https://img.icons8.com/pastel-glyph/64/000000/verified-scroll--v1.png"/>
                        </div>
                        <!-- Title -->
                        <h5 class="mb-2"><a class="stretched-link">ACADEMIC</a></h5>
                        <p class="p-3">MyQT’s Academic training includes relevant curriculum to impart the knowledge necessary to work in the Industry.</p>
                        <!-- <p>
                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam
                        </p> -->
                    </div>
                </div>

                <!-- Item -->
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="card shadow card-body text-center position-relative btn-transition p-4">
                        <!-- Image -->
                        <div class="icon-xl bg-body mx-auto rounded-circle mb-3">
                            <img src="https://img.icons8.com/external-xnimrodx-lineal-xnimrodx/74/000000/external-responsive-web-hosting-xnimrodx-lineal-xnimrodx.png"/>
                        </div>
                        <!-- Title -->
                        <h5 class="mb-2"><a class="stretched-link">INDUSTRY</a></h5>
                        <p class="p-3">MyQT’s Industry training helps your workforce-upskill and be Quantum Computing ready with domain specific curriculum.</p>
                        <!-- <p>
                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam
                        </p> -->
                    </div>
                </div>

                <!-- Item -->
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="card shadow card-body text-center position-relative btn-transition p-4">
                        <!-- Image -->
                        <div class="icon-xl bg-body mx-auto rounded-circle mb-3">
                            <img src="https://img.icons8.com/carbon-copy/100/000000/security-configuration.png"/>
                        </div>
                        <!-- Title -->
                        <h5 class="mb-2"><a class="stretched-link">SELF LEARN</a></h5>
                        <p class="p-3">Join our Self Learn series to access curated Quantum Computing study material and collaborate with like minded enthusiasts.</p>
                        <!-- <p>
                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam
                        </p> -->
                    </div>
                </div>

                 <!-- Item -->
                 <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="card shadow card-body text-center position-relative btn-transition p-4">
                        <!-- Image -->
                        <div class="icon-xl bg-body mx-auto rounded-circle mb-3">
                            <img src="https://img.icons8.com/external-parzival-1997-detailed-outline-parzival-1997/64/000000/external-technology-artificial-intelligence-and-machine-learning-parzival-1997-detailed-outline-parzival-1997.png"/>
                        </div>
                        <!-- Title -->
                        <h5 class="mb-2"><a class="stretched-link">MyQT CLUB</a></h5>
                        <p class="p-3"> Worried that you are  alone in the Quantum Computing Journey? Join our MyQT Community to network with professionals having same goal.</p>
                        <!-- <p>
                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam
                        </p> -->
                    </div>
                </div>

                <!-- Item -->
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="card shadow card-body text-center position-relative btn-transition p-4">
                        <!-- Image -->
                        <div class="icon-xl bg-body mx-auto rounded-circle mb-3">
                            <img src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-vitaly-gorbachev/60/000000/external-badge-cyber-monday-vitaliy-gorbachev-lineal-vitaly-gorbachev.png"/>
                        </div>
                        <!-- Title -->
                        <h5 class="mb-2"><a class="stretched-link">COLLABRATION WITH US</a></h5>
                        <p class="p-3">Do you have a problem statement that you would like to collaborate with us? Let us collaborate in building Quantum computing solutions.</p>
                        <!-- <p>
                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam
                        </p> -->
                    </div>
                </div>

                <!-- Item -->
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="card shadow card-body text-center position-relative btn-transition p-4">
                        <!-- Image -->
                        <div class="icon-xl bg-body mx-auto rounded-circle mb-3">
                            <img src="https://img.icons8.com/external-xnimrodx-lineal-xnimrodx/64/000000/external-analytics-infographic-and-chart-xnimrodx-lineal-xnimrodx.png"/>
                        </div>
                        <!-- Title -->
                        <h5 class="mb-2"><a class="stretched-link">CONSULTING</a></h5>
                        <p class="p-3">Transition your organization to Quantum Computing – Providing Quantum Computing maturity path, Planning workforce requirements.</p>
                        <!-- <p>
                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam
                        </p> -->
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- =======================
    We Customize END -->
