 <!-- =======================
    We Customize START -->
    <section class="mt-sm-0 program-mob">
        <div class="container">
            <!-- Title -->
            <div class="row mb-4">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="my-3" style="color: #2AB2A6;">Quantum Programs and Services Offered</h2>
                </div>
            </div>

            <div class="row g-4">
                <!-- Item -->
                <div class="col-sm-6 col-md-4 col-xl-4" *ngFor="let item of allServiceList">
                    <div class="card shadow card-body text-center position-relative btn-transition p-4">
                        <!-- Image -->
                        <div class="icon-xl bg-body mx-auto rounded-circle mb-3">
                            <img [src]="item.image"/>
                        </div>
                        <!-- Title -->
                        <h5 class="mb-2"><a class="stretched-link">{{item.title}}</a></h5>
                        <p class="p-3">{{item.content}}</p>
                        <!-- <p>
                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam
                        </p> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    We Customize END -->
