<!-- Reviews list START -->
<div class="container">
    <div class="row g-4 justify-content-center">
        <!-- Title -->
        <div class="row mt-5">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="fs-1" style="color:#2AB2A6">Leadership Team
                </h2>
                <!-- <p class="mb-0">Choose from hundreds of courses from specialist organizations</p> -->
            </div>
        </div>
        <!-- Card item START -->
        <div  class="col-sm-10 col-lg-4">
            <div  class="card shadow p-3 h-100 w-100">
                <div class="text-center p-4 rounded-3 position-relative mb-5 mb-md-0">
                    <!-- Avatar -->
                    <div class="avatar avatar-xl mb-3">
                        <img class="avatar-img rounded-circle" src="assets/images/03.jpg" alt="avatar">
                    </div>
                    <h6 class="mb-3">Test</h6>
                    <!-- <p>Class {{item?.class}}</p> -->
                    <!-- Content -->
                    <blockquote>
                        <p>
                            <span class="me-1 small"><i class="fas fa-quote-left"></i></span>
                            Founder, Chief Executive Officer
                            <span class="ms-1 small"><i class="fas fa-quote-right"></i></span>
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
        <!-- Card item END -->
         <!-- Card item START -->
         <div  class="col-sm-10 col-lg-4">
            <div  class="card shadow p-3 h-100 w-100">
                <div class="text-center p-4 rounded-3 position-relative mb-5 mb-md-0">
                    <!-- Avatar -->
                    <div class="avatar avatar-xl mb-3">
                        <img class="avatar-img rounded-circle" src="assets/images/03.jpg" alt="avatar">
                    </div>
                    <h6 class="mb-3">Test</h6>
                    <!-- <p>Class {{item?.class}}</p> -->
                    <!-- Content -->
                    <blockquote>
                        <p>
                            <span class="me-1 small"><i class="fas fa-quote-left"></i></span>
                            Founder, Chief Executive Officer
                            <span class="ms-1 small"><i class="fas fa-quote-right"></i></span>
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
        <!-- Card item END -->
         <!-- Card item START -->
         <div  class="col-sm-10 col-lg-4">
            <div  class="card shadow p-3 h-100 w-100">
                <div class="text-center p-4 rounded-3 position-relative mb-5 mb-md-0">
                    <!-- Avatar -->
                    <div class="avatar avatar-xl mb-3">
                        <img class="avatar-img rounded-circle" src="assets/images/03.jpg" alt="avatar">
                    </div>
                    <h6 class="mb-3">Test</h6>
                    <!-- <p>Class {{item?.class}}</p> -->
                    <!-- Content -->
                    <blockquote>
                        <p>
                            <span class="me-1 small"><i class="fas fa-quote-left"></i></span>
                            Founder, Chief Executive Officer
                            <span class="ms-1 small"><i class="fas fa-quote-right"></i></span>
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
        <!-- Card item END -->
    </div>
</div>
<!-- Reviews list END -->
